<div class="position-absolute top-50 start-50 translate-middle display-6 newDataForm" ng-controller="aboutUsCTR">
    <p class="position-absolute material-icons" style="cursor: pointer;; top: 2%; right: 2%;" ng-click="close()">close</p>
    <p class="h1">About us</p>
    <p>Hello, </p>
    <p>This is Jaimin N. Patel</p>
    <p>Studying IT engineering at L.D. college of engineering, Ahmedabad</p>
    <p class="h1">Contact us</p>
    <p>E-mail: <a href="mailto: jaiminpatel057@gmail.com">jaiminpatel057@gmail.com</a></p>
</div>