<form novalidate ng-controller="newNoteCTR">
    <p class="h1 text-center">New Note details</p>
    <p class="position-absolute material-icons" style="cursor: pointer;; top: 2%; right: 2%;" ng-click="closeForm()">close</p>
    <p>Enter Task title: 
        <input type="text" ng-model="newNote.title">
    </p>
    <p>Description: 
        <textarea name="info" cols="50" rows="10" ng-model="newNote.details"></textarea>
    </p>
    <input type="reset">
    <button ng-click="addNewNote()">Add</button>
</form>