<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="/src/lib/bootstrap-5.1.3/bootstrap.min.css">
    <script src="/src/lib/bootstrap-5.1.3/bootstrap.bundle.min.js"></script>
    
    <script src="/src/lib/angular/angular.min.js"></script>

    <script src="/src/app/app.js"></script>

    <script src="/src/Controllers/mainCTR.js"></script>
    <script src="/src/Controllers/authCTR.js"></script>
    <script src="/src/Controllers/descCTR.js"></script>
    <script src="/src/Controllers/editCTR.js"></script>
    <script src="/src/Controllers/newDataCTR.js"></script>
    <script src="/src/Controllers/aboutUsCTR.js"></script>


    <title>Task & Notes Manager</title>
    <link rel="stylesheet" href="/src/css/mainPage.css">
</head>

<body class="bg-opacity-75" ng-app="app1">
    
    
    <nav class="navbar py-0 navbar-expand-sm bg-warning navbar-light">
        <div class="container-fluid text-start">
            <div>
                <p class="d-inline-block m-0" style="font-size: 24px;">Task & Notes Manager</p>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#" ng-click="aboutUs = true">About us</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Create new</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" ng-click="entry_newData = 'data'">Task</a></li>
                        <li><a class="dropdown-item" href="#" ng-click="entry_newData = 'note'">Notes</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link material-icons" href="#">settings</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><span class="material-icons">account_circle</span><span class="align-top">{{userName}}</span></a></li>
            </ul>
        </div>
    </nav>
    
    
    <div class="newData position-absolute top-0 start-0" ng-show="aboutUs == true">
        <div class="position-absolute top-50 start-50 translate-middle newDataForm" ng-include="'src/templates/aboutUs.htm'"></div>
    </div>
    
    <!-- Main part -->
    <div class="row mx-0" style="height: 98.5vh;" ng-controller="mainCTR">
        <!-- Login signup page -->
        <div class="newData position-absolute top-0 start-0" ng-show="userName == null">
            <div class="position-absolute top-50 start-50 translate-middle newDataForm" ng-include="'src/templates/login_signup.htm'"></div>
        </div>
        <div class="newData position-absolute top-0 start-0" ng-show="entry_newData != null">
            <div class="position-absolute top-50 start-50 translate-middle newDataForm" ng-include="'src/templates/newData.htm'"></div>
        </div>
        
        <div class="col-3 border-end border-dark bg-white">
            <div class="row">
                    <button class="col" ng-class="sChoice1 ? 'activeChoice': 'Choice'" ng-click="choiceClicked(1, this); sChoice1 = true; sChoice2 = false">Tasks</button>
                    <button class="col" ng-class="sChoice2 ? 'activeChoice': 'Choice'" ng-click="choiceClicked(2, this); sChoice1 = false; sChoice2 = true">Notes</button>
                    <ul class="list-unstyled p-0 itemList">
                        <li class="text-left border-top" ng-class="currentSelected.title==task.title ? 'activeDataTab': 'dataTab'" ng-show="sChoice1" ng-click="itemClicked('task', task.title, $index)" ng-repeat="task in taskList track by $index">
                            {{$index+1}}. {{task.title}} 
                            <span ng-show="task.isDone" class="material-icons text-success">done</span>
                        </li>
                        <li class="text-left border-top" ng-class="currentSelected.title==note.title ? 'activeDataTab': 'dataTab'" ng-show="sChoice2" ng-click="itemClicked('note', note.title, $index)" ng-repeat="note in noteList track by $index">
                            {{$index+1}}. {{note.title}}
                        </li>
                    </ul>
            </div>
        </div>
        <div class="col" ng-include="'src/templates/description.htm'"></div>
            <!-- Description template with decsCTR-->
        </div>
    </div>
    
</body>

</html>